- hosts: app

  vars:
    project_dir: "{{ lookup('env', 'HOME') }}/word-guess-game-deploy"

  tasks:
    - name: Ensure project directory exists
      file:
        path: "{{ project_dir }}"
        state: directory

    - name: Copy docker-compose.yml
      copy:
        src: ../deploy/docker-compose.yml
        dest: "{{ project_dir }}/docker-compose.yml"

    - name: Stop previous app stack if exists
      command: docker-compose down
      args:
        chdir: "{{ project_dir }}"
      ignore_errors: yes

    - name: Start app container
      command: docker-compose up -d
      args:
        chdir: "{{ project_dir }}"
